<div class="stats-container" id="statsGrid"></div>

<div class="flex-row border-btm border-blue mb-15 mt-30" style="border-color: #74b9ff;">
    <h2 class="text-blue">Eldritch Invocations & Class features</h2>
    <button onclick="document.getElementById('addInvocDialog').showModal()" class="btn btn-icon-add">+</button>
</div>
<div id="invocList" class="invoc-container"></div>

<div class="flex-row border-btm mb-15 mt-30" style="border-color: #e17055;">
    <h2 style="color: #e17055;">Attunement</h2>
    <div id="attunementCount" class="text-bold text-gray">0 / 3</div>
</div>
<div id="attunementList"></div>

<div style="margin-top: 30px;">
    <h3 class="text-gray border-btm mb-15" style="border-color:#444; padding-bottom:5px;">Currency</h3>
    <div id="coinContainer" class="coin-grid"></div>
</div>

<div style="margin-top: 30px;">
    <h3 class="text-gray border-btm mb-15" style="border-color:#444; padding-bottom:5px;">Equipment</h3>
    <textarea id="equipmentInput" class="dark-input" style="height: 300px; resize: vertical;" placeholder="List your items here..." onchange="updateText('equipment', this.value)"></textarea>
</div>